.bg{
    &-primary{
        @include set-background-color($primary-color);
    }
    &-dark{
        @include set-background-color($dark-color);
    }
}
.fs{
    &-big{
        font-size: $big;
    }
    &-medium{
        font-size: $medium;
    }
    &-small{
        font-size: $small;
    }
}