@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
.bg-primary {
  background-color: #353b48;
  color: #fff;
}

.bg-dark {
  background-color: #2f3640;
  color: #fff;
}

.bg-light {
  background-color: #f1f2f6;
  color: #333;
}

.fs-big {
  font-size: 3.7rem;
}

.fs-medium {
  font-size: 2rem;
}

.fs-small {
  font-size: 1.1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 {
  color: #1dd1a1;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}

main {
  min-height: 100vh;
}

article {
  display: none;
  min-height: 100vh;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.tab-btn-active {
  color: var(--button-active);
  font-weight: 700;
}

.none {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7rem 2rem;
  border-bottom: #1dd1a1 4px solid;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul li {
  padding-inline: 1rem;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #1dd1a1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#introduction {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#introduction .icons {
  margin-top: 1.5rem;
}

#introduction .icons i {
  padding-inline: 1rem;
  color: #40739e;
  opacity: 0.6;
}

#introduction .icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#about-me {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
}

#about-me .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

#about-me .card {
  padding: 3rem 2rem;
  border-radius: 15px;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  max-width: 28rem;
}

#about-me .card h2 {
  margin-bottom: 1rem;
}

#about-me .card h3 {
  margin: 1rem 0;
}

#about-me .card p, #about-me .card li {
  font-weight: 500;
}

#about-me .card button {
  background-color: #353b48;
  color: white;
  -webkit-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 1rem;
  margin-top: 2rem;
}

#about-me .card button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#about-me .card a {
  font-weight: 700;
  text-decoration: underline;
}

#projects {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects h2 {
  color: #f1f2f6;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

#projects .work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 5rem;
}

#projects .work h3 {
  font-weight: 700;
}

#projects .work h4 {
  font-weight: 500;
}

#projects .work div {
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 20rem;
  padding: 2rem;
}

#projects .work div hr {
  width: 50%;
  margin: 1.3rem auto;
}

#projects .work li {
  font-weight: 300;
}

#projects .work .img-preview {
  height: 100px;
  margin: 1rem 0;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#projects .work .zoom {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

@media (max-width: 1200px) {
  #projects h2 {
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
  #projects .work {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 1000px) {
  #about-me .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 6rem 0;
  }
}

@media (max-width: 700px) {
  #projects .work {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
  #about-me {
    padding: 0;
  }
  #about-me .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 6rem;
  }
  #about-me .card {
    padding: 1.5rem 1rem;
    margin-inline: 3rem;
  }
}

@media (max-width: 425px) {
  #about-me {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */