@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    background-color: #fff;
}
body::-webkit-scrollbar {
    display: none;
}
h1,h2,h3,h4{
    color: $success-color;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
}
main{min-height: 100vh;}
article{
    display: none;
    min-height: 100vh;
    animation: {
        name: content;
        direction: normal;
        duration: .5s;
        timing-function: ease-in-out;
        iteration-count: 1;
    }
}
@keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}

.tab-btn-active {
    color: var(--button-active);
    font-weight: 700;
}

.none {
    display: none;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    border-bottom: $success-color 4px solid;

    ul {

        display: flex;

        li {
            padding-inline: 1rem;
            cursor: pointer;
            &:hover {
                color: $success-color;
                transition: .2s ease-in-out;
            }
        }
    }
}

#introduction{
    justify-content: center;
    text-align: center;
    .icons{
        margin-top: 1.5rem;
        i{
            padding-inline: 1rem;
            color: #40739e;
            opacity: 0.6;
        }
        i:hover{
            transform: scale(1.1);
            opacity: 1;
            transition: .2s ease-in-out;
        }
    }
}
#about-me{
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .card{
        padding: 3rem 2rem;
        border-radius: 15px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        max-width: 28rem;
        h2{
            margin-bottom: 1rem;
        }
        h3{
            margin: 1rem 0;
        }
        p, li{
            font-weight: 500;
        }
        button{
            background-color: $primary-color;
            color: white;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            padding: 1rem;
            margin-top: 2rem;
        }
        button:hover{
            transform: scale(1.1);
            transition: .3s ease-in-out;
        }
        a{
            font-weight: 700;
            text-decoration: underline;
        }
    }
}
#projects{
    align-items: center;
    h2{
        color: $light-color;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }
    .work{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        margin-bottom: 5rem;
        h3{
            font-weight: 700;
        }
        h4{
            font-weight: 500;
        }
        div{
            text-align: center;
            border-radius: 10px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            width: 20rem;
            padding: 2rem;
            hr{
                width: 50%;
                margin: 1.3rem auto;
            }
            a{  
                text-decoration: underline;
            }
        }
        li{
            font-weight: 300;
        }
        .img-preview{
            height: 100px;
            margin: 1rem 0;
            cursor: zoom-in;
        }
        // .img-preview:hover{
        //     transform: scale(1.1);
        // }
        .zoom{
            position: fixed;
            width: 80%;
            height: 80%;
            top: 10%;
            left:10%;
            cursor: zoom-out;
        }
    }
}
@media (max-width: 1200px) {
    #projects{
        h2{
            margin-top: 6rem;
            margin-bottom: 1rem;
        }
        .work{
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            margin-bottom: 5rem;
        }
    }
}
@media (max-width: 1000px) {
    #about-me{
        .grid-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            margin: 6rem 0;
        }

    }
}
@media (max-width: 700px) {
    #projects{
        // h2{
        //     margin-top: 8rem;
        //     margin-bottom: 2rem;
        // }
        .work{
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            margin-bottom: 5rem;
        }
    }
    #about-me{
        padding: 0;
        .grid-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
            margin-top: 6rem;
        }
        .card{
            padding: 1.5rem 1rem;
            margin-inline: 3rem
        }
    }
}
@media (max-width: 425px) {
    #about-me{
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }
}